.user-msg {
   color: #121212;
   padding: 10px;
   font-size: 16px;
   position: fixed;
   top: 120px;
   right: 4px;
   border-radius: 10px;
   width: 200px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   align-content: center;
}

.user-msg button {
   border: 0;
}

.success {
   background-color: rgb(41 189 73 / 90%);
}

.danger {
   background-color: rgb(216 59 59 / 90%);
}